<% content_for :sidebar do %>
<% end %>

<div class="titleA round clearfix">
<span class="float_right"></span>
Ficheros
</div>    
    
<br />

<div class="internal_padding">
  <ul class="listA">  
      <% if @files.empty? %>
        <li class="clearfix">No hay ficheros.
      <% else %>
          <%= render :partial => "folder_content", :locals => { :files => @files } %>
      <% end %> 
  </ul>
</div>    


<%= will_paginate @files %>

