<p><br/><%= I18n.t("tog_depot.member.quota_usage", 
   :used => number_to_human_size(@disk_usage), 
   :of => number_to_human_size(@quota),
   :left => number_to_human_size(@quota - @disk_usage)) %></p>
   
