<div class="titleB"><img src="/tog_depot/images/tog-depot_iconfile_48px.gif" border="0" /> Edit <%= @file.name %></div><br /><br />

<%= error_messages_for :file %>
<% form_for :file, :url => member_depot_file_path(@file), :html => {:action => 'update', :id => "update_file", :multipart => true, :method => "put"} do |f| -%>

  <%= render :partial => 'form', :locals => {:f => f}%>


  <div class="actions"><%= f.submit "Guardar cambios",:class=>"button mainaction" %></div>
<% end -%>
