<% content_for :sidebar do %>
	<%= render :partial => 'quota_info' %>
<% end %>


	<%= render :partial => 'add_child', :locals => {:file => @file}%>
  <br /><br />
    <h2><span><%= current_user.login %>&rsquo;s files</span></h2>


<%= render :partial => 'folder_content', :locals => {:files => @files}%>