<div class="titleB"><img src="/tog_depot/images/tog-depot_iconfile_48px.gif" border="0" /> Upload new file</div>
<br /><br />

<%= error_messages_for :file %>
<% form_for :file, :url => member_depot_files_path, :html => {:id => "create_file", :multipart => true} do |f| -%>


  <%= render :partial => 'form', :locals => {:f => f}%>

  <div class="actions">
    <%= submit_tag @file.folder? ? I18n.t("tog_depot.member.create_subfolder") : I18n.t("tog_depot.member.create_file"), :class => 'button mainaction' %>
  </div>
<% end -%>
